<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="main-container" *ngIf="!isLoading; else loadingSpinner">
    <ion-card *ngIf="data && !isLoading; else noData">
      <ion-card-header>
        <ion-card-title>{{ timestampToHuman(data.current.dt, data.timezone_offset) | date:'medium':'UTC' }}</ion-card-title>
        <ion-card-subtitle>Detailed whether information for today:</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row>
            Current temperature: {{data.current.temp | number :'1.0-0'}}°C
          </ion-row>
          <ion-row>
            Feels like temperature: {{data.current.feels_like | number :'1.0-0'}}°C
          </ion-row>
          <ion-row>
            Pressure: {{data.current.pressure}}, hPa
          </ion-row>
          <ion-row>
            Humidity: {{data.current.humidity}}, %
          </ion-row>
          <ion-row>
            Wind speed: {{data.current.wind_speed}}, metre/sec
          </ion-row>
          <ion-row>
            Description: {{data.current.weather[0].description}}
          </ion-row>
          <ion-row>
            <img src="https://openweathermap.org/img/wn/{{data.current.weather[0].icon}}@2x.png" alt="logo">
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ng-template #noData><p class="error">Data not provided</p></ng-template>
  </div>
  <ng-template #loadingSpinner>
    <div class="spinner">
      <ion-spinner></ion-spinner>
    </div>
  </ng-template>
</ion-content>
